.todo-title {
    font-size: 20px;
    color: orange;
    margin: 20px;
}

.todo-container {
    text-align: center;
    width: 600px;
    margin: 50px auto;
}

.todo-new {
    margin: auto;
}

.todo-data {
    margin: 20px;
    border: solid 1px black;
    padding: 20px;
}

.todo-data table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.todo-image {
    animation: rotate 1s infinite;
}

.todoRow {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.todoRow .todoInfo {
    text-align: left;
    border-right: solid 1px;
}

.todoRow .todoRemove {
    text-align: right;
    width: 100%;
}